<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='row'>
      <div class="col-2">
        <div class="circle">
          <br />
          Your
          <br />
          Fav
          <br />
          Java
        </div>
      </div>
      <div class="col-7 headline">
        <h1>So Many Blends?</h1>
      </div>
      <div class="col-3 links">
        <%= link_to 'Add', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />

    <div class="container">
    <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
          <p class="text-muted">Sometimes one cup just isn't enough!.</p>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
